body {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

h1 {
    font-size: 50px;
    color: tomato;

}

h2 {
    font-size: 35px;
    color: tomato;
}

p {
    color: whitesmoke;
    font-size: medium;
}

.link-button {
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(pink, red);
    padding: 10px 45px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/donation4.jpg);
}