body {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

h1 {
    font-size: 50px;
    color: tomato;

}

h2 {
    font-size: 35px;
    color: tomato;
}

p {
    color: black;
    font-size: medium;
}

#banner-description {
    color: white;
}

.link-button {
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(pink, red);
    padding: 10px 45px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/flood0.jpg);
}

.donation-today {
    width: 60px;
    height: 60px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.flaxible-container {
    display: flex;

    margin-bottom: 20px;
}

.donation-section {
    padding: 10%;
}

#boundery {
    border: 5px solid red;
    background-color: rgb(195, 169, 91);
}

#amount {
    text-decoration: none;
}

img {
    height: 100px;
    width: 100px;
}

.donate-blog {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 5px;
}

.footer {
    background-color: burlywood;
}